In [1]:
#creating a function with arguments
def greet(name):
    print(f"hello,{name}")

In [4]:
greet("jitha")

hello,jitha

In [5]:
greet("vasu")

hello,vasu

In [9]:
#addition
def add(a,b,c):
    return a+b+c

In [10]:
add(2,9,3)

14

In [11]:
# subtraction
def sub(a,b):
    return a-b

In [13]:
sub(3,7)

-4

In [14]:
sub(7,4)

3

In [15]:
#multiplication
def mul(a,b,c):
    return a*b*c

In [16]:
mul(2,3,8)

48

In [17]:
#division
def div(a,b):
    return a/b

In [18]:
div(2,4)

0.5

In [19]:
#modulus
def mod(a,b):
    return a%b

In [21]:
mod(7,3)

1

In [27]:
def calculator():
    def add(a,b):
        return a+b
    def sub (a,b):
        return a-b
    def mul(a,b):
        return a*b
    def div(a,b):
        return a/b
    def mod(a,b):
        return a%b

    operation={'1':add,'2':sub,'3':mul,'4':div,'5':mod}
    print("select the operations (1-5)")
    choice=input("enter your choice")
    num1=int(input("enter first number"))
    num2=int(input("enter second number"))
    operation=operation.get (choice)
    if operation :
        result=operation (num1,num2)
        print(f"the result is{result}")
    else:
        print("invalid input")

In [28]:
calculator()

select the operations (1-5)

enter your choice 3
enter first number 67
enter second number 89

the result is5963

In [30]:
calculator()

select the operations (1-5)

enter your choice 4
enter first number 23
enter second number 45

the result is0.5111111111111111

In [31]:
#global
x=10
def scope():
    y=5 #local
    print(y)

In [34]:
x

10

In [35]:
y

NameError: name 'y' is not defined

In [33]:
scope()

5

question

In [36]:
#1 write a funcution is_even(n)that retruns even if the number is even or return odd if the number is odd
def is_even(n):
    if n%2==0:
        return "even"
    else:
        return"odd"

In [38]:
is_even(89)

'odd'

In [41]:
#2 write a function is_prime(n) that returns true if the number s prime else false
def is_prime(n):
    if n<=1:
        return  False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True

In [42]:
is_prime(7)

True

In [43]:
is_prime(9)

False

In [44]:
7**0.5

2.6457513110645907

In [46]:
2.64+1

3.64

In [47]:
9**0.5

3.0

In [51]:
#3 write a python program to display the first 10 prime numbers
def prime1(n):
    if n<=1:
        return False
    for i in range (2,int(n**0.5)+1):
        if n%i==11:
            return False
        return True
    count=0
    if i ==0:
        "continue"

In [52]:
def print_first_10_primes():
    primes_found = 0
    num = 2

    for _ in range(100):  # Just an upper limit, will break after 10 primes
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num)
            primes_found += 1
            if primes_found == 10:
                break
        num += 1

# Call the function
print_first_10_primes()

2
3
5
7
11
13
17
19
23
29

In [54]:
add=lambda a,b:a+b

In [55]:
add(3,4)

7

In [56]:
square=lambda x:x*x

In [57]:
square(5)

25

In [58]:
n=[1,2,3,4,5,6,7,8,9,10]

In [59]:
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
square=[x**2 for x in range(1,6)]

In [62]:
square

[1, 4, 9, 16, 25]